In [13]:
import pandas as pd
import numpy as np
import datetime

In [7]:
df = pd.read_csv('government_data.csv')
df_copy = df.copy()
df_copy.head(3)

       發票年月 縣市代碼 縣市名稱  鄉鎮市區代碼 鄉鎮市區名稱  行業名稱  平均開立張數     平均開立金額  平均客單價
0  2021/9/1    A  臺北市    10.0    中山區  百貨公司  149982  225759520   1505
1  2021/9/1    A  臺北市     2.0    大安區  百貨公司   71125  164283711   2310
2  2021/9/1    A  臺北市    17.0    信義區  百貨公司  100730  150002101   1489

In [8]:
df_copy.dtypes

發票年月       object
縣市代碼       object
縣市名稱       object
鄉鎮市區代碼    float64
鄉鎮市區名稱     object
行業名稱       object
平均開立張數      int64
平均開立金額      int64
平均客單價       int64
dtype: object

In [9]:
df_copy['發票年月'] = pd.to_datetime(df_copy['發票年月'])

In [11]:
display(df_copy.head(3))
df_copy.dtypes

        發票年月 縣市代碼 縣市名稱  鄉鎮市區代碼 鄉鎮市區名稱  行業名稱  平均開立張數     平均開立金額  平均客單價
0 2021-09-01    A  臺北市    10.0    中山區  百貨公司  149982  225759520   1505
1 2021-09-01    A  臺北市     2.0    大安區  百貨公司   71125  164283711   2310
2 2021-09-01    A  臺北市    17.0    信義區  百貨公司  100730  150002101   1489

發票年月      datetime64[ns]
縣市代碼              object
縣市名稱              object
鄉鎮市區代碼           float64
鄉鎮市區名稱            object
行業名稱              object
平均開立張數             int64
平均開立金額             int64
平均客單價              int64
dtype: object

In [14]:
df_1819 = df_copy[df_copy['發票年月'] < pd.Timestamp(year=2020, month=1, day=1)]
df_1819.head(3)

           發票年月 縣市代碼 縣市名稱  鄉鎮市區代碼 鄉鎮市區名稱     行業名稱  平均開立張數     平均開立金額  平均客單價
3241 2019-12-01    A  臺北市     3.0    中正區     百貨公司  153663  204143961   1329
3242 2019-12-01    T  屏東縣     1.0    屏東市     百貨公司   51017   37092722    727
3243 2019-12-01    E  高雄市    67.0    燕巢區  綜合商品零售業   40426    3949934     98

In [15]:
df_1819.to_excel('2018-19.xlsx', index=False)